@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

@import './reset';

body {
  font-family: 'Fira Sans', sans-serif;
}

svg.goban-cell {
  display: block;
}

.goban-cell-background {
  fill: #c82;
}

.goban-cell-vline, .goban-cell-hline {
  stroke: #da0;
}

.goban-cell-stone{
  &.white {
    fill: #fff;
  }

  &.black {
    fill: #000;
  }

  &.empty {
    fill: none;
    pointer-events: all;

    &:hover {
      fill: #00f;
    }
  }
}